<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Sign Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <fieldset>
    <table> 
    <div class="container">
        <legend align="center">Traffic Sign Classification</legend>
        <p>Upload a traffic sign image to get the prediction:</p>

        <!-- Image Upload Form -->
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="file" accept="image/*" required>
            <button type="button" onclick="detectTrafficSign()">Detect Traffic Sign</button>
        </form>

        <div id="result">
            <h3>Prediction Result:</h3>
            <p id="prediction"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</table>
</fieldset>
</body>
</html>
