html {
    background-image: url('/static/123.jpg'); /* Correct path for Flask */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%; /* Ensures it covers the entire page */
    margin: 0;
}

legend
{font-size: larger;
color: #FFD700;}

p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    color: white; /* Ensures text is readable on the background */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}


.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adds a semi-transparent black background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h1 {
    color: #FFD700; /* Gold color for the heading */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    display: none;
}

#result p {
    font-size: 18px;
    font-weight: bold;
}
